h2 {
    text-align: center;
}
.project {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 80%;
    border: solid black 1px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.projectImage {
    opacity: .85;
    border-radius: 8px 0 0 8px;
    max-width: 100%;
    height: auto;
}

.projectText {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.buttonContainer a {
    margin-right: 15px;
}

.interest {
    display: flex;
    justify-content: space-around;
}
