html {
    scroll-behavior: smooth;
  }

body {
    background: rgba(149, 165, 166, 1);
    font-family: "Montserrat";
}

h1 {
    font-family: 'Source Code Pro';
    font-size: 3em;
    font-weight: bold;
}

.header h3, .header h5 {
    font-family: 'Source Code Pro';
    color: rgba(0,0,0,.5);
}

h2 {
    text-align: center;
}
p {
    color: rgba(0,0,0,.7);
}

a {
    transition: 1s;
}
a:hover {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    font-size: 1.5em;
    margin: 1.2em 2.5em;
}
nav a:hover {
    color: black;
    text-decoration: none;
}

.header {
    text-align: center;
}

.aboutMe {
    margin: 50px 0;
}

.topTerminal {
    background: rgba(0,0,0,.3);
    border-radius: 10px 10px 0 0;
    height: 30px;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.circle {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#red {
    background: rgba(255,0,0,.7);
}
#orange {
    background: rgba(248,148,6, 1);
}
#green {
    background: rgba(0, 245, 0, .7);
}

.terminal {
    word-spacing: 3px;
    color: rgba(0,255,0, .8);
    background-color: black;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    letter-spacing: .1rem;
}

.first {
    color: white;
}

.project {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 100%;
    border: solid rgba(0,0,0,.5) 1px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,.3);
}

.projectImage {
    opacity: .85;
    border-radius: 9px 0 0 9px;
    max-width: 100%;
    height: auto;
}

.projectText {
    background: rgba(255,255,255,1);
    border-radius: 0 8px 8px 0;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.skillsContainer {
    /* background: rgba(0,0,0, .8); */
    border-radius: 40px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.icon-size {
    font-size: 48px;
}

.buttonContainer a {
    margin-right: 15px;
}

.interest {
    display: flex;
    justify-content: space-around;
}

.card {
    text-align: center;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,.3);
}

.skillsUsed div {
    margin: 3px;
}

.footer {
    margin: 50px 0;
}

.footerContent {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.contactContainer {
    font-size: 60px;
}

.contactContainer a {
    font-size: 60px;
    margin: 0 20px;
}

.contactContainer a:hover {
    text-decoration: none;
}
